#学习

*.class

#package file

*.war
*.ear

#kdiff3 ignore
*.orig

#maven ignore
target/

#eclipse
.settings/
.project
.classpatch

#idea
.idae/
/idea/
*.ipr
*.iml
*.iws

#temp file
*.log
*.catch
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
